#################
# Private files #
#################
.env

####################
# Game Information #
####################
data/inventoryInfo.json
data/kidneys.json

############
# Testing  #
############
exampleInventoryInfo.json
test.py

#########
# Other #
#########
__pycache__/