#################
# Private files #
#################
.env

####################
# Game Information #
####################
inventoryInfo.json

############
# Testing  #
############
exampleInventoryInfo.json


#########
# Other #
#########
__pycache__/